$color-dark-blue: #0a192f;
$color-dark2-blue: #1a3d72;
$color-dark-opacity-blue: #0a192faf;

$color-dark-gray: #374045;
$color-gray1: #8892b0;
$color-gray2: #ccd6f6;

$color-orange: #ffc164;
$color-orange1: #d6a151;
$color-orange2: #b88a44;
$color-orange3: #7e5f31;