/* Background and card colors */
$background-color-page: #110C17;
$background-color-card: #241631;

/* Gradient colors and angle */
$gradient-color-1: #FF726D;
$gradient-color-2: #FF4DA9;
$gradient-color-3: #CD42D7;
$gradient-angle: 135deg;

/* General text color */
$text-normal-color: #DAD1E6;

/* General padding */
$card-inner-padding: calc(1.125rem * 2.75) calc(1.125rem * 3.75);