/* ========== GENERAL ========== */
@import "_variables.scss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

.text {
    
    &-title {
        user-select: none;
        font-family: 'Inconsolata', monospace;
        font-size: 54px;

        background: linear-gradient($gradient-angle, $gradient-color-1 5%, $gradient-color-2 45%, $gradient-color-3 85%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    &-subtitle {
        user-select: none;
        font-family: 'Inconsolata', monospace;
        font-size: 27px;

        background: linear-gradient($gradient-angle, $gradient-color-1 5%, $gradient-color-2 45%, $gradient-color-3 85%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    &-normal {
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        color: $text-normal-color;
    }

    &-small {
        font-family: 'Fira Sans', sans-serif;
        font-size: 14.4px;
        color: $text-normal-color;
    }
}

.card {
    height: 90%;
    max-width: 990px;
    width: 100%;
    padding: $card-inner-padding;
    border-radius: 0.25em;
}

.card-tech-stack {
    height: 90%;
    max-width: 990px;
    width: 100%;
    padding: $card-tech-stack-inner-padding;
    border-radius: 0.25em;
}

.card-experience {
    height: 90%;
    max-width: 990px;
    width: 100%;
    padding: $card-inner-padding;
    border-radius: 0.25em;
}

.background-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, #241631bf, #241631bf), url("../img/background-home.jpg");
}

.background-card {
    background-color: $background-color-card;
}

.button {
    max-width: fit-content;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.15em;
    padding: 0.75rem 1rem;
    color: black;
    border-radius: 0.25rem;
    background-color: #FF6680;
    background-image: linear-gradient(135deg, #FF6680 5%, #FF4DA9 45%, #CD42D7 85%);
    transition: all 0.1s linear;

    &:hover {
        transform: scale(0.97);
    }
}

.link {
    color: #FF6680;
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.1s linear;

    &:hover {
        color: #ff668098;
    }
}

/* ========== LAYOUT ========== */
.layout {
    height: 100%;
    width: 100%;
    min-width: 350px;
    background-color: $background-color-page;
    line-height: 1.7;
    flex: 1;
}

/* ========== HOME ========== */
.home {
    padding: 2.5rem 3.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* ========== ABOUT ME ========== */
.about-me {
    padding: 2.5rem 6.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== TECH STACK AND CERTIFICATIONS ========== */
.tech-stack-certifications {
    padding: 2.5rem 6.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stacks-certif-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.stacks-card {
    flex: 1 1 auto;
    width: 17.5em;
    border-radius: 0.25em;
    padding: 1rem;
    background-color: #312140ff;
}

.stacks-card p {
    line-height: 2.5rem;
}

.certif-card {
    flex: 1 1 auto;
    width: 17.5em;
    border-radius: 0.25em;
    grid-column: 1 / span 2;
    line-height: 2.5rem;
    padding: 1rem;
    background-color: #312140ff;
}

.certif-card ul {
    margin-top: 10px;
}

.certif-card ul li {
    margin-left: calc(1.2em);
}

/* ========== EXPERIENCE ========== */
.experience {
    padding: 2.5rem 6.5rem;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/background-home.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-container {
    position: relative;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.experience-card {
    width: 100%;
    position: relative;
    padding-left: 8rem;
    word-wrap: break-word;
}

.experience-card > .text-subtitle {
    padding-bottom: 1rem;
}

.experience-timeline-vertical {
    position: absolute;
    top: 0;
    left: 30px;

    height: 100%;
    width: 2px;
    opacity: 0.8;
    background-color: #FF6680;
}

.experience-timeline-horizontal {
    position: absolute;
    top: 20.25px;
    left: 30px;

    height: 2px;
    width: 5.5em;
    opacity: 0.8;
    background-color: #FF6680;
}

.experience-timeline-item {
    position: absolute;
    left: 10px;

    height: 40.5px;
    width: 40.5px;
    background-color: #312140ff;
    border-radius: 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== PROJECTS ========== */
.projects {
    width: 100%;
    padding: 1.5rem 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-information {
    position: relative;
    padding-top: 1rem;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.project-card {
    width: 100%;
    position: relative;
    padding: 1rem 4.5rem;
    word-wrap: break-word;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: all 0.1s linear;

    &::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #312140ff;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 0.5s;
    }
    
    &:hover::before {
        width: calc(100% - 50px);
    }
}

.project-card > .text-subtitle {
    padding-bottom: 1rem;
}

.project-timeline-item {
    position: absolute;
    top: 20px;
    left: 0;

    height: 40.5px;
    width: 40.5px;
    background-color: #312140ff;
    border-radius: 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== GITHUB ========== */
.github {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== CONTACT ME ========== */
.contact-me {
    padding: 2.5rem 6.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-background {
    padding: 5rem 3rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, #241631bf, #241631bf), url("../img/background-contact.jpg");
}

/* ========== MOBILE ========== */
@media only screen and (max-width: 800px) {

    .card,
    .card-tech-stack,
    .card-experience {
        padding: 1.5rem;
    }

    .projects-information {
        gap: 1.5rem;
    }

    .project-card {
        padding: 1rem 0;
        padding-left: 2rem;
    }

    .project-timeline-item {
        top: 25px;
        width: 30px;
        height: 30px;
    }

    .text {
    
        &-title {
            font-size: 37px;
        }
    
        &-subtitle {
            font-size: 22px;
        }
    
        &-normal {
            font-size: 14px;
        }
    
        &-small {
            font-size: 12.4px;
        }
    }

    .home {
        padding: 0;
    }

    .about-me,
    .tech-stack-certifications,
    .experience,
    .contact-me {
        padding: 2.5rem 0;
    }

    .experience-container .text-subtitle {
        font-size: 18px;
    }

    .experience-card {
        padding-left: 4rem;
    }

    .experience-timeline-horizontal {
        width: 0;
    }
}