// =============== CONFIG =============== //
@import "_colors.scss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
  /* max-width: 1280px; */
  max-width: css-min(90%, 1280px);
  margin: 0 auto;
	background-color: #222020;
	color: white;

	font-family: "Inter", sans-serif;
	font-size: calc(16px + 0.15vw);
	background-color: $color-dark-blue;

	-webkit-font-smoothing: antialiased;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background: $color-dark-gray;
	}

	&::-webkit-scrollbar-thumb {
		background: $color-orange;
	}
}

::selection {
	background-color: #233554;
	color: $color-gray2;
}

// =============== LAYOUT =============== //
.layout {
  height: 100vh;
  max-width: 1280px;
  
  /* max-width: css-min(90%, 1200px); */
  margin: 0 auto;
  
  position: relative;

	display: grid;
	grid-template-areas:
		"area-principal"
		"area-about"
		"area-experience"
    "area-projects"
		"area-contact"
		"area-footer";

  grid-template-rows: repeat(3, 950px) auto 700px 5rem;
}

// =============== NAVBAR =============== //
.layout__nav {
	height: 4rem;
	width: 100%;
  max-width: 1380px;
	background-color: $color-dark-blue;
	padding: 0 3rem;
	user-select: none;
	z-index: 1;

	position: fixed;
	top: 0;
  margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav__title {
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		a {
      text-decoration: none;

      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }
		}
	}

	.nav__right {
		height: 100%;

		font-family: "Roboto Mono", monospace;
		font-size: 0.9em;

		display: flex;
		justify-content: center;
		align-items: center;

		.right__list {
			/* width: 520px; */
      min-width: 700px;
			list-style: none;

			display: flex;
			justify-content: space-evenly;
			align-items: center;

			li {
				a {
					text-decoration: none;
					color: $color-gray2;
					transition: all 0.2s linear;

					&:hover {
						color: $color-orange;
						padding-bottom: 0.3rem;
						border-bottom: 1px solid $color-orange;
					}
				}
			}
		}

		.right__resume {
			text-decoration: none;
			background-color: $color-orange;
      color: $color-dark-blue;
      font-weight: bold;
			border-radius: 2px;
			padding: 0.5rem 1rem;
			transition: all 0.2s linear;

			&:hover {
        background-color: $color-orange1;
			}
		}

		.right__close-menu {
			display: none;

			background: none;
			font-size: 2em;
			border: none;
			color: $color-orange;
		}
	}

	.nav__open-menu {
		display: none;
		color: $color-orange;
		font-size: 1.15em;
	}
}

.orange-technology {
  color: $color-orange1;
  border-bottom: 1px solid $color-orange3;
}

// =============== PRINCIPAL =============== //
.layout__principal {
    
  grid-area: area-principal;

  /* width: 75%; */
  width: 80%;
  height: 100%;
  /* margin: 5rem auto; */
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: flex-start; */
  transform: translateX(10%);

  h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: clamp(12px, 3vw, 16px);
    color: $color-orange;
  }
  
  h1 {
    margin-top: 1.45rem;
    font-size: 4.5rem;
    font-size: clamp(40px, 8vw, 70px);
    color: $color-gray2;
  }

  h3 {
    margin-top: 0.1em;
    font-size: clamp(30px, 6vw, 70px);
    color: $color-gray1;
  }

  &--description {
    width: 80%;
    margin-top: 2rem;
    color: $color-gray1;
    line-height: 1.5;
    font-size: 1em;
    /* font-size: clamp(8px, 3vw, 1em); */
  }

  .principal__button {
    width: 81%;
    min-width: 400px;
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .button__about {
      width: 10rem;
      padding: 1rem 1rem;
      font-family: 'Roboto Mono', monospace;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      background-color: $color-orange;
      color: $color-dark-blue;
      border-radius: 2px;
      transition: all 0.2s linear;
  
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      svg {
        height: 1.25rem;
        color: $color-dark-blue;
        transition: all 0.2s linear;
      }
  
      &:hover {
        background-color: $color-orange1;
      }
    }

    .button__socials {

      width: 225px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      
      a {
        color: $color-gray1;
        transition: all 0.15s linear;
        
        svg {
          height: 2.55rem;
          width: 2.55rem;
        }

        &:hover {
          transform: translateY(-3px);
          color: $color-orange;
        }
      }
    }
  }
}

// =============== ABOUT ME =============== //
.layout__about {
  
  grid-area: area-about;

  /* width: 100%; */
  height: 100%;
  
  .about__info {
    /* height: 80%;
    width: 80%;
    margin: 5rem auto; */

    height: 80%;
    max-height: 750px;
    width: 90%;
    margin: 5rem auto;

    /* border: 1px solid $color-gray2;
    box-shadow: 6px 6px 1px $color-dark2-blue; */

    display: grid;
    grid-template-areas: "about-title     about-title"
                         "about-main      about-certificates";
    grid-template-columns: 0.9fr 0.5fr;
    gap: 0 1rem;
    /* grid-template-columns: 1fr 0.5fr; */

    &--title {

      grid-area: about-title;

      width: fit-content;
      margin: 2rem 3rem;
      font-size: 2.5em;
      color: $color-orange;
      position: relative;
      user-select: none;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $color-orange;
        transition: all 0.4s ease;
        position: absolute;
        top: 4rem;
        left: 0;
      }
    }

    .info__main {

      grid-area: about-main;

      .main__general {

        grid-area: about-general;
  
        width: 80%;
        margin: 0 3rem;
        font-size: 1em;
        line-height: 2;
        color: $color-gray1;
  
        span {
          color: $color-orange;
        }
  
        &--link {
          text-decoration: none;
          color: $color-orange;
  
          &:hover {
            border-bottom: 1px solid $color-orange;
          }
        }
      }

      
  
      .main__skills {
  
        grid-area: about-skills;
  
        width: 80%;
        margin: 2rem 3rem;
        font-size: 1em;
        line-height: 2;
  
        &--title {
          color: $color-orange;
          font-size: 1em;
        }
  
        .skills__techs {
          /* color: $color-gray1;
          font-family: 'Roboto Mono', monospace;
          font-weight: bold;
          font-size: 0.9em;
          margin-left: 1rem;

          width: fit-content;*/

          margin-top: 1rem;
          padding: 1rem;
          background-image: linear-gradient(to left top, #092957, #082a5a, #082b5e, #072b61, #072c64);
          box-shadow: 5px 5px 1px $color-dark4-blue;
          border-radius: 0.15rem;

          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
  
          /* ul {
            margin-top: 1rem;
            list-style: none;
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: start auto;
            column-gap: 4rem;
  
            li::before {
              content: "\2666";
              width: 1.1em;
              display: inline-block;
              margin-left: -1em;
              color: $color-orange;
            }
          } */
        }
      }
    }

    .info__certificates {

      grid-area: about-certificates;

      &--title {
        color: $color-orange;
        font-size: 1em;

        svg {
          transform: translateY(5px);
        }
      }

      .certificates__items {
        width: fit-content;
        color: $color-gray1;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 1rem;

        &--link {
          text-decoration: none;
          color: $color-gray1;
          transition: all 0.2s linear;
  
          &:hover {
            border-bottom: 1px solid $color-orange;
            color: $color-orange;
          }
        }

        ul {
          margin-top: 2rem;
          list-style: none;
          
          display: grid;
          /* grid-template-columns: 1fr 1fr; */
          /* place-items: start auto; */
          /* column-gap: 4rem; */
          row-gap: 1rem;

          li::before {
            content: "\2666";
            width: 1.1em;
            display: inline-block;
            margin-left: -1em;
            color: $color-orange;
          }
        }
      }
    }
  }
}

// =============== EXPERIENCE =============== //
.layout__experience {

  grid-area: area-experience;

  /* width: 100%; */
  height: 100%;

  .experience__container {
    height: 80%;
    max-height: 750px;
    width: 90%;
    margin: 5rem auto;

    display: grid;
    grid-template-areas: "exp-title"
                         "exp-jobs";
    /* grid-template-rows: 9rem 4fr; */
    grid-template-rows: 9rem calc(100% - 9rem);
    gap: 2rem;

    &--title {

      grid-area: exp-title;

      width: fit-content;
      margin: 2rem 3rem;
      font-size: 2.5em;
      color: $color-orange;
      position: relative;
      user-select: none;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $color-orange;
        transition: all 0.4s ease;
        position: absolute;
        top: 4rem;
        left: 0;
      }
    }

    .container__jobs {

      grid-area: exp-jobs;

      /* height: 100%; */
      width: calc(100% - 6rem);
      margin: 0 3rem;

      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      /* gap: 1rem; */

      .jobs__card {

        height: 7.5rem;

        display: grid;
        grid-template-columns: 1.75fr 4fr;
        gap: 1rem;

        .card__info {

          &--company {
            font-size: 1.1rem;
            color: $color-orange;
          }

          &--date {
            padding-top: 0.5rem;
            font-size: 0.9rem;
            color: $color-gray1;
          }
        }

        .card__description {

          &--position {
            font-size: 1.1rem;
            color: $color-orange;
          }

          &--text {
            padding-top: 0.5rem;
            font-size: 0.9rem;
            color: $color-gray1;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

// =============== PROJECTS =============== //
.layout__projects {

  grid-area: area-projects;

  /* background-color: #233554; */

  /* width: 100%; */
  height: 100%;

  .projects__container {
    height: 80%;
    /* max-height: 750px; */
    width: 100%;
    margin: 5rem auto;

    display: grid;
    grid-template-areas: "projects-title"
                         "projects-gallery";
    /* grid-template-rows: 9rem 4fr; */
    /*grid-template-rows: 9rem calc(80% - 9rem);*/
    grid-template-rows: 9rem 1fr;
    gap: 2rem;

    &--title {

      grid-area: projects-title;

      width: fit-content;
      margin: 2rem 3rem;
      font-size: 2.5em;
      color: $color-orange;
      position: relative;
      user-select: none;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $color-orange;
        transition: all 0.4s ease;
        position: absolute;
        top: 4rem;
        left: 0;
      }
    }

    .container__gallery {

      grid-area: projects-gallery;

      height: 100%;
      /* height: 100%; */
      width: calc(100% - 6rem);
      margin: 0 3rem;

      display: grid;
      /* grid-template-rows: repeat(auto-fill, minmax(19rem, 1fr)); */
      /* grid-template-rows: 18rem 18rem */
      gap: 2rem;

      .gallery__project {
        height: 18rem;
        width: 100%;
        /* background-color: #233554; */
        background-image: linear-gradient(to left top, #092957, #082a5a, #082b5e, #072b61, #072c64);
        border-radius: 0.25rem;

        display: grid;
        grid-template-columns: 1fr 37rem;
        /* grid-template-columns: 421px calc(100% - 421px); */
        /* grid-template-columns: 1fr 1.65fr; */

        .project__info {
          padding: 1rem;

          display: grid;
          grid-template-rows: 2rem 1rem auto 2rem;
          row-gap: 1rem;

          .project__info--title {
            color: $color-gray2;
          }

          .project__info--description {
            place-self: center start;
            font-size: 0.9rem;
            line-height: 1.5;
            color: $color-gray1;
          }

          .info__tech-stack {
            user-select: none;

            display: flex;
            align-items: center;
            gap: 1rem;

            &--technology {
              color: $color-gray1;
              font-size: 0.9rem;
              padding: 0.5rem 0.75rem;
              background-color: $color-dark-blue;
              border-radius: 0.15rem;
              cursor: pointer;
              transition: all 0.2s linear;

              &:hover {
                background-color: $color-dark2-blue;
              }
            }
          }

          .info__buttons {
            user-select: none;

            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2rem;

            &--primary {
              padding: 0.6rem 0.85rem;
              font-weight: bold;
              text-align: center;
              text-decoration: none;
              background-color: $color-orange;
              color: $color-dark-blue;
              border-radius: 2px;
              transition: all 0.2s linear;

              &:hover {
                background-color: $color-orange1;
              }
            }

            &--secondary {
              padding: 0.6rem 0.85rem;
              text-align: center;
              text-decoration: none;
              border: 1px solid $color-gray1;
              color: $color-gray2;
              border-radius: 2px;
              transition: all 0.2s linear;

              &:hover {
                background-color: $color-gray1;
                color: $color-dark-blue;
                
              }
            }
          }
        }

        &--img {
          user-select: none;
          width: 100%;
          min-width: 470px;
          height: 18rem;
          object-fit: fill;
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }
}

// =============== CONTACT ME =============== //
.layout__contact {

  grid-area: area-contact;

  /* width: 100%; */
  height: 100%;

  .contact__container {
    height: 80%;
    max-height: 750px;
    width: 80%;
    margin: 5rem auto;

    display: grid;
    grid-template-areas: "contact-title"
                         "contact-text";
    /* grid-template-rows: 9rem 4fr; */
    grid-template-rows: 9rem 5rem;

    &--title {

      grid-area: contact-title;

      width: fit-content;
      margin: 2rem 3rem;
      font-size: 2.5em;
      color: $color-orange;
      position: relative;
      user-select: none;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $color-orange;
        transition: all 0.4s ease;
        position: absolute;
        top: 4rem;
        left: 0;
      }
    }

    &--description {

      grid-area: contact-text;

      width: 75%;
      margin-left: 3rem;
      font-size: 1.15rem;
      line-height: 1.5;
      color: $color-gray1;
    }

    &--link {
      text-decoration: none;
      color: $color-orange;

      &:hover {
        border-bottom: 1px solid $color-orange;
      }
    }
  }
}

// =============== FOOTER =============== //
.layout__footer {
  grid-area: area-footer;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.9rem;
    color: $color-gray1;
  }
}

// =============== MEDIA QUERIES =============== //
@media only screen and (max-width: 800px) {

  .layout__nav {

    .nav__right {
      font-size: 1.2em;
    }
  }

  .layout__principal {
    height: 100%;
    width: 80%;

    h4 {
      font-size: clamp(20px, 7vw, 28px);
    }
    
    h1 {
      font-size: clamp(76px, 16vw, 136px);
    }
  
    h3 {
      font-size: clamp(56px, 10vw, 116px);
    }
  
    &--description {
      font-size: 2em;
    }

    .principal__button {
  
      .button__about {
        font-size: 1.3em;
      }
  
      .button__socials {

        width: 275px;
      
        a svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  .layout__about {

    .about__info {
  
      &--title {
        font-size: 2.75em;
  
        svg {
          height: 1.75rem;
          width: 1.75rem;
        }
      }
  
      .info__main {
  
        .main__general {
          font-size: 1.25em;
        }
  
        .main__skills {
          font-size: 1.25em;
  
          &--title {
            font-size: 1.25em;
          }
        }
      }

      .info__certificates {
        &--title {
          font-size: 1.25em;
        }
  
        .certificates__items {
          font-size: 1.15em;
        }
      }
    }
  }

  .layout__experience {

    .experience__container {
  
      &--title {
        font-size: 2.75em;
  
        svg {
          height: 1.75rem;
          width: 1.75rem;
        }
      }
  
      .container__jobs {
  
        .jobs__card {
  
          .card__info {
  
            &--company {
              font-size: 1.35rem;
            }
  
            &--date {
              font-size: 1.1rem;
            }
          }
  
          .card__description {
            
            &--position {
              font-size: 1.35rem;
            }
  
            &--text {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}