// =============== CONFIG =============== //
@import "_colors.scss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-color: #222020;
	color: white;

	font-family: "Inter", sans-serif;
	font-size: 16px;
	background-color: $color-dark-blue;

	-webkit-font-smoothing: antialiased;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background: $color-dark-gray;
	}

	&::-webkit-scrollbar-thumb {
		background: $color-orange;
	}
}

::selection {
	background-color: #233554;
	color: $color-gray2;
}

// =============== LAYOUT =============== //
.layout {
  height: 100vh;
  
  position: relative;

	display: grid;
	grid-template-areas:
		"area-principal"
		"area-about"
		"area-experience"
		"area-contact"
		"area-footer";
}

// =============== NAVBAR =============== //
.layout__nav {
	height: 4rem;
	width: 100%;
	background-color: $color-dark-blue;
	box-shadow: 2px 2px 1rem 3px rgba(0, 0, 0, 0.7);
	padding: 0 3rem;
	user-select: none;
	z-index: 1;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav__title {
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		a {
      text-decoration: none;
      

      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }
		}
	}

	.nav__right {
		height: 100%;

		font-family: "Roboto Mono", monospace;
		font-size: 0.9em;

		display: flex;
		justify-content: center;
		align-items: center;

		.right__list {
			width: 520px;
			list-style: none;

			display: flex;
			justify-content: space-evenly;
			align-items: center;

			li {
				a {
					text-decoration: none;
					color: $color-gray2;
					transition: all 0.2s linear;

					&:hover {
						color: $color-orange;
						padding-bottom: 0.3rem;
						border-bottom: 1px solid $color-orange;
					}
				}
			}
		}

		.right__resume {
			text-decoration: none;
			background-color: $color-orange;
      color: $color-dark-blue;
      font-weight: bold;
			border-radius: 2px;
			padding: 0.5rem 1rem;
			transition: all 0.2s linear;

			&:hover {
        background-color: $color-orange1;
			}
		}

		.right__close-menu {
			display: none;

			background: none;
			font-size: 2em;
			border: none;
			color: $color-orange;
		}
	}

	.nav__open-menu {
		display: none;
		color: $color-orange;
		font-size: 1.15em;
	}
}

.active-item {
  color: $color-orange;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid $color-orange;
}

// =============== PRINCIPAL =============== //
.layout__principal {
    
  grid-area: area-principal;

  width: 75%;
  height: 80vh;
  /* margin: 6.5rem auto; */
  margin: 5rem auto;
  padding-left: 10%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  background:
    linear-gradient(to right, $color-gray1 2px, transparent 2px) 0 0,
    linear-gradient(to left, $color-gray1 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, $color-gray1 2px, transparent 2px) 0 0,
    linear-gradient(to top, $color-gray1 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 30px 30px;

  h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: clamp(12px, 3vw, 16px);
    color: $color-orange;
  }
  
  h1 {
    margin-top: 1.45rem;
    font-size: 4.5rem;
    font-size: clamp(40px, 8vw, 70px);
    color: $color-gray2;
  }

  h3 {
    margin-top: 0.1em;
    font-size: clamp(30px, 6vw, 70px);
    color: $color-gray1;
  }

  &--description {
    width: 75%;
    margin-top: 2rem;
    color: $color-gray1;
    line-height: 1.5;
    font-size: 1em;
    /* font-size: clamp(8px, 3vw, 1em); */
  }

  .principal__button {
    width: 80%;
    min-width: 400px;
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .button__about {
      width: 10rem;
      padding: 1rem 1rem;
      font-family: 'Roboto Mono', monospace;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      background-color: $color-orange;
      color: $color-dark-blue;
      border-radius: 2px;
      transition: all 0.2s linear;
  
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      svg {
        height: 1.25rem;
        color: $color-dark-blue;
        transition: all 0.2s linear;
      }
  
      &:hover {
        background-color: $color-orange1;
      }
    }

    .button__socials {

      width: 200px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      
      a {
        color: $color-gray1;
        transition: all 0.15s linear;
        
        svg {
          height: 2.55rem;
          width: 2.55rem;
        }

        &:hover {
          transform: translateY(-3px);
          color: $color-orange;
        }
      }
    }
  }
}