body
{
    background: whitesmoke;
}

.container-fluid > header
{
    padding: 40px;
}

.container .main
{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.container .main > article > p > span
{
    color: salmon;
}

.color1
{
    background: rosybrown;
}

aside
{
    background: firebrick;
    color: white;
}