/* CSS */

body {
    background-color: rgb(48, 48, 48);
}

.background {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background.jfif");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background.jfif");
    
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;

    animation: load-background 1s ease-out;
    animation-fill-mode: both;
}

.background .container .icono {
    font-size: 50px;
    color: white;
    transition: all 0.4s ease;
}

.background .container .icono:hover {
    color: rgb(255, 196, 0);
}

.page-title {
    animation: load-text 1s ease-out 1.8s;
    animation-fill-mode: both;
}

.page-text {
    animation: load-text 1s ease-out 2.6s;
    animation-fill-mode: both;
}

/* ANIMATIONS */

@keyframes load-background {
    from { opacity: 0%; width: 0%; }
    to { opacity: 100%; width: 100%; }
}

@keyframes load-text {
    from { opacity: 0%; }
    to { opacity: 100%; }
}